<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102011563657-80mlvq98do393au3p6hq8ekeujbnh9el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102011563657-80mlvq98do393au3p6hq8ekeujbnh9el</string>
	<key>API_KEY</key>
	<string>AIzaSyBYTc_Q5FFaj8bP1VTrQz5az8OIucbuKDM</string>
	<key>GCM_SENDER_ID</key>
	<string>102011563657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddelivary-41ff9</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivary-41ff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102011563657:ios:8a91f0aada94bc3147e058</string>
</dict>
</plist>